@use "styles/variables";

@import "../RepositoriesPage/RepositoriesPage.module.scss";

.favorites__container {
  @extend .repositories__container;
  h1 {
    width: 100%;
    margin-bottom: variables.$spacing-24;
    font-size: 2rem;
  }
}

.favorites__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;

  h1 {
    font-size: 1.5rem;
    margin-top: variables.$spacing-16;
  }

  p {
    margin-top: variables.$spacing-8;
    max-width: 300px;
  }
}
