$backColor: rgba(246, 248, 250, 1);
$textColor: #000;

$accentColor: rgba(31, 136, 61, 1);
$accentColorLight: rgba(31, 136, 61, 0.7);
$accentColorDark: rgba(8, 83, 29, 1);

$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1440px;
