$backColor: rgba(246, 248, 250, 1);
$backSecondColor: #fff;
$baclDisabled: rgba(217, 217, 217, 1);

$accentColor: rgba(31, 136, 61, 1);
$accentColorLight: rgba(31, 136, 61, 0.7);
$accentColorDark: rgba(8, 83, 29, 1);

$primeryColor: rgba(0, 0, 0, 1);
$secondoryColor: rgba(175, 175, 175, 1);

$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1440px;

$borderRadius: 6px;

$grey: rgba(217, 217, 217, 1);
$shadow: 1px 4px 10px #888;

$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-20: 20px;
$spacing-24: 24px;
$spacing-40: 40px;
